<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_.notdef</key>
	<array>
		<string>.notdef</string>
	</array>
	<key>@MMK_L_.null</key>
	<array>
		<string>.null</string>
	</array>
	<key>@MMK_L_A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
	</array>
	<key>@MMK_L_B</key>
	<array>
		<string>B</string>
	</array>
	<key>@MMK_L_C</key>
	<array>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
	</array>
	<key>@MMK_L_CR</key>
	<array>
		<string>CR</string>
	</array>
	<key>@MMK_L_D</key>
	<array>
		<string>Dcroat</string>
	</array>
	<key>@MMK_L_E</key>
	<array>
		<string>AE</string>
		<string>AEacute</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>OE</string>
	</array>
	<key>@MMK_L_Eng</key>
	<array>
		<string>Eng</string>
	</array>
	<key>@MMK_L_Euro</key>
	<array>
		<string>Euro</string>
	</array>
	<key>@MMK_L_F</key>
	<array>
		<string>F</string>
	</array>
	<key>@MMK_L_G</key>
	<array>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcircumflex</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
	</array>
	<key>@MMK_L_H</key>
	<array>
		<string>H</string>
		<string>Hbar</string>
		<string>Hcircumflex</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Ibreve</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Ntilde</string>
	</array>
	<key>@MMK_L_J</key>
	<array>
		<string>IJ</string>
		<string>J</string>
		<string>Jcircumflex</string>
	</array>
	<key>@MMK_L_K</key>
	<array>
		<string>K</string>
		<string>Kcommaaccent</string>
	</array>
	<key>@MMK_L_L</key>
	<array>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>Ldot</string>
		<string>Lslash</string>
	</array>
	<key>@MMK_L_M</key>
	<array>
		<string>M</string>
	</array>
	<key>@MMK_L_O</key>
	<array>
		<string>D</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Obreve</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Oslashacute</string>
		<string>Otilde</string>
		<string>Q</string>
	</array>
	<key>@MMK_L_P</key>
	<array>
		<string>P</string>
	</array>
	<key>@MMK_L_R</key>
	<array>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
	</array>
	<key>@MMK_L_S</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
		<string>Scommaaccent</string>
	</array>
	<key>@MMK_L_T</key>
	<array>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>Tcommaaccent</string>
	</array>
	<key>@MMK_L_Thorn</key>
	<array>
		<string>Thorn</string>
	</array>
	<key>@MMK_L_U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
	</array>
	<key>@MMK_L_V</key>
	<array>
		<string>V</string>
	</array>
	<key>@MMK_L_W</key>
	<array>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
	</array>
	<key>@MMK_L_X</key>
	<array>
		<string>X</string>
	</array>
	<key>@MMK_L_Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
	</array>
	<key>@MMK_L_Z</key>
	<array>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
	</array>
	<key>@MMK_L_acute</key>
	<array>
		<string>acute</string>
	</array>
	<key>@MMK_L_ampersand</key>
	<array>
		<string>ampersand</string>
	</array>
	<key>@MMK_L_anoteleia</key>
	<array>
		<string>periodcentered</string>
	</array>
	<key>@MMK_L_approxequal</key>
	<array>
		<string>approxequal</string>
	</array>
	<key>@MMK_L_asciicircum</key>
	<array>
		<string>asciicircum</string>
	</array>
	<key>@MMK_L_asciitilde</key>
	<array>
		<string>asciitilde</string>
	</array>
	<key>@MMK_L_asterisk</key>
	<array>
		<string>asterisk</string>
	</array>
	<key>@MMK_L_at</key>
	<array>
		<string>at</string>
	</array>
	<key>@MMK_L_backslash</key>
	<array>
		<string>backslash</string>
	</array>
	<key>@MMK_L_bar</key>
	<array>
		<string>bar</string>
	</array>
	<key>@MMK_L_braceleft</key>
	<array>
		<string>braceleft</string>
	</array>
	<key>@MMK_L_braceright</key>
	<array>
		<string>braceright</string>
	</array>
	<key>@MMK_L_bracketleft</key>
	<array>
		<string>bracketleft</string>
	</array>
	<key>@MMK_L_bracketright</key>
	<array>
		<string>bracketright</string>
	</array>
	<key>@MMK_L_breve</key>
	<array>
		<string>breve</string>
	</array>
	<key>@MMK_L_brokenbar</key>
	<array>
		<string>brokenbar</string>
	</array>
	<key>@MMK_L_bullet</key>
	<array>
		<string>bullet</string>
	</array>
	<key>@MMK_L_c</key>
	<array>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>cent</string>
	</array>
	<key>@MMK_L_caron</key>
	<array>
		<string>caron</string>
	</array>
	<key>@MMK_L_cedilla</key>
	<array>
		<string>cedilla</string>
	</array>
	<key>@MMK_L_circumflex</key>
	<array>
		<string>circumflex</string>
	</array>
	<key>@MMK_L_colon</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>@MMK_L_copyright</key>
	<array>
		<string>copyright</string>
	</array>
	<key>@MMK_L_currency</key>
	<array>
		<string>currency</string>
	</array>
	<key>@MMK_L_dagger</key>
	<array>
		<string>dagger</string>
	</array>
	<key>@MMK_L_daggerdbl</key>
	<array>
		<string>daggerdbl</string>
	</array>
	<key>@MMK_L_dda-deva</key>
	<array>
		<string>dddha-deva</string>
	</array>
	<key>@MMK_L_ddha-deva</key>
	<array>
		<string>rha-deva</string>
	</array>
	<key>@MMK_L_degree</key>
	<array>
		<string>degree</string>
	</array>
	<key>@MMK_L_dieresis</key>
	<array>
		<string>dieresis</string>
	</array>
	<key>@MMK_L_divide</key>
	<array>
		<string>divide</string>
	</array>
	<key>@MMK_L_dollar</key>
	<array>
		<string>dollar</string>
	</array>
	<key>@MMK_L_dotaccent</key>
	<array>
		<string>dotaccent</string>
	</array>
	<key>@MMK_L_e</key>
	<array>
		<string>ae</string>
		<string>aeacute</string>
		<string>e</string>
		<string>eacute</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>oe</string>
	</array>
	<key>@MMK_L_eight</key>
	<array>
		<string>eight</string>
	</array>
	<key>@MMK_L_eight.dnom</key>
	<array>
		<string>eight.dnom</string>
	</array>
	<key>@MMK_L_eight.numr</key>
	<array>
		<string>eight.numr</string>
	</array>
	<key>@MMK_L_eightsuperior</key>
	<array>
		<string>eightsuperior</string>
	</array>
	<key>@MMK_L_equal</key>
	<array>
		<string>equal</string>
		<string>notequal</string>
	</array>
	<key>@MMK_L_eth</key>
	<array>
		<string>eth</string>
	</array>
	<key>@MMK_L_exclam</key>
	<array>
		<string>exclam</string>
	</array>
	<key>@MMK_L_exclamdown</key>
	<array>
		<string>exclamdown</string>
	</array>
	<key>@MMK_L_f</key>
	<array>
		<string>f</string>
		<string>f_f</string>
	</array>
	<key>@MMK_L_five</key>
	<array>
		<string>five</string>
	</array>
	<key>@MMK_L_five.dnom</key>
	<array>
		<string>five.dnom</string>
	</array>
	<key>@MMK_L_five.numr</key>
	<array>
		<string>five.numr</string>
	</array>
	<key>@MMK_L_fivesuperior</key>
	<array>
		<string>fivesuperior</string>
	</array>
	<key>@MMK_L_florin</key>
	<array>
		<string>florin</string>
	</array>
	<key>@MMK_L_four</key>
	<array>
		<string>four</string>
	</array>
	<key>@MMK_L_four.dnom</key>
	<array>
		<string>four.dnom</string>
	</array>
	<key>@MMK_L_four.numr</key>
	<array>
		<string>four.numr</string>
	</array>
	<key>@MMK_L_foursuperior</key>
	<array>
		<string>foursuperior</string>
	</array>
	<key>@MMK_L_fraction</key>
	<array>
		<string>fraction</string>
	</array>
	<key>@MMK_L_g</key>
	<array>
		<string>g</string>
		<string>gbreve</string>
		<string>gcircumflex</string>
		<string>gcommaaccent</string>
		<string>gdotaccent</string>
	</array>
	<key>@MMK_L_g_r-deva</key>
	<array>
		<string>g_r-deva</string>
	</array>
	<key>@MMK_L_germandbls</key>
	<array>
		<string>germandbls</string>
	</array>
	<key>@MMK_L_gh-deva</key>
	<array>
		<string>gh_r-deva</string>
	</array>
	<key>@MMK_L_grave</key>
	<array>
		<string>grave</string>
	</array>
	<key>@MMK_L_greater</key>
	<array>
		<string>greater</string>
	</array>
	<key>@MMK_L_greaterequal</key>
	<array>
		<string>greaterequal</string>
	</array>
	<key>@MMK_L_guillemotleft</key>
	<array>
		<string>guillemetleft</string>
		<string>guilsinglleft</string>
	</array>
	<key>@MMK_L_guillemotright</key>
	<array>
		<string>guillemetright</string>
		<string>guilsinglright</string>
	</array>
	<key>@MMK_L_hungarumlaut</key>
	<array>
		<string>hungarumlaut</string>
	</array>
	<key>@MMK_L_hyphen</key>
	<array>
		<string>emdash</string>
		<string>endash</string>
		<string>hyphen</string>
	</array>
	<key>@MMK_L_i</key>
	<array>
		<string>i</string>
		<string>dotlessi</string>
		<string>iacute</string>
		<string>ibreve</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>idotaccent</string>
		<string>igrave</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>itilde</string>
		<string>fi</string>
		<string>pi</string>
	</array>
	<key>@MMK_L_infinity</key>
	<array>
		<string>infinity</string>
	</array>
	<key>@MMK_L_j</key>
	<array>
		<string>ij</string>
		<string>j</string>
		<string>dotlessj</string>
		<string>jcircumflex</string>
		<string>eng</string>
	</array>
	<key>@MMK_L_k</key>
	<array>
		<string>k</string>
		<string>kcommaaccent</string>
		<string>kgreenlandic</string>
	</array>
	<key>@MMK_L_ka-deva</key>
	<array>
		<string>qa-deva</string>
		<string>fa-deva</string>
		<string>k_ka-deva</string>
		<string>f_ra-deva</string>
	</array>
	<key>@MMK_L_kh-deva</key>
	<array>
		<string>kh_r-deva</string>
	</array>
	<key>@MMK_L_l</key>
	<array>
		<string>d</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>lcommaaccent</string>
		<string>ldot</string>
		<string>fl</string>
	</array>
	<key>@MMK_L_less</key>
	<array>
		<string>less</string>
	</array>
	<key>@MMK_L_lessequal</key>
	<array>
		<string>lessequal</string>
	</array>
	<key>@MMK_L_logicalnot</key>
	<array>
		<string>logicalnot</string>
	</array>
	<key>@MMK_L_lslash</key>
	<array>
		<string>lslash</string>
	</array>
	<key>@MMK_L_macron</key>
	<array>
		<string>macron</string>
	</array>
	<key>@MMK_L_minus</key>
	<array>
		<string>minus</string>
	</array>
	<key>@MMK_L_multiply</key>
	<array>
		<string>multiply</string>
	</array>
	<key>@MMK_L_n</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
		<string>h</string>
		<string>hbar</string>
		<string>hcircumflex</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>napostrophe</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>ntilde</string>
	</array>
	<key>@MMK_L_nbspace</key>
	<array>
		<string>nbspace</string>
	</array>
	<key>@MMK_L_nga-deva</key>
	<array>
		<string>ng-deva</string>
	</array>
	<key>@MMK_L_nine</key>
	<array>
		<string>nine</string>
	</array>
	<key>@MMK_L_nine.dnom</key>
	<array>
		<string>nine.dnom</string>
	</array>
	<key>@MMK_L_nine.numr</key>
	<array>
		<string>nine.numr</string>
	</array>
	<key>@MMK_L_ninesuperior</key>
	<array>
		<string>ninesuperior</string>
	</array>
	<key>@MMK_L_numbersign</key>
	<array>
		<string>numbersign</string>
	</array>
	<key>@MMK_L_o</key>
	<array>
		<string>b</string>
		<string>o</string>
		<string>oacute</string>
		<string>obreve</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>oslashacute</string>
		<string>otilde</string>
		<string>p</string>
		<string>thorn</string>
	</array>
	<key>@MMK_L_ogonek</key>
	<array>
		<string>ogonek</string>
	</array>
	<key>@MMK_L_one</key>
	<array>
		<string>one</string>
	</array>
	<key>@MMK_L_one.dnom</key>
	<array>
		<string>one.dnom</string>
	</array>
	<key>@MMK_L_one.numr</key>
	<array>
		<string>onehalf</string>
		<string>onequarter</string>
		<string>one.numr</string>
	</array>
	<key>@MMK_L_onesuperior</key>
	<array>
		<string>onesuperior</string>
	</array>
	<key>@MMK_L_ordfeminine</key>
	<array>
		<string>ordfeminine</string>
	</array>
	<key>@MMK_L_ordmasculine</key>
	<array>
		<string>ordmasculine</string>
	</array>
	<key>@MMK_L_p-deva</key>
	<array>
		<string>p_r-deva</string>
	</array>
	<key>@MMK_L_paragraph</key>
	<array>
		<string>paragraph</string>
	</array>
	<key>@MMK_L_parenleft</key>
	<array>
		<string>parenleft</string>
	</array>
	<key>@MMK_L_parenright</key>
	<array>
		<string>parenright</string>
	</array>
	<key>@MMK_L_partialdiff</key>
	<array>
		<string>partialdiff</string>
	</array>
	<key>@MMK_L_period</key>
	<array>
		<string>comma</string>
		<string>ellipsis</string>
		<string>period</string>
		<string>quotedblbase</string>
		<string>quotesinglbase</string>
	</array>
	<key>@MMK_L_plus</key>
	<array>
		<string>plus</string>
	</array>
	<key>@MMK_L_plusminus</key>
	<array>
		<string>plusminus</string>
	</array>
	<key>@MMK_L_q</key>
	<array>
		<string>q</string>
	</array>
	<key>@MMK_L_question</key>
	<array>
		<string>question</string>
	</array>
	<key>@MMK_L_questiondown</key>
	<array>
		<string>questiondown</string>
	</array>
	<key>@MMK_L_quotedbl</key>
	<array>
		<string>quotedbl</string>
	</array>
	<key>@MMK_L_quotedblleft</key>
	<array>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
	</array>
	<key>@MMK_L_quotesingle</key>
	<array>
		<string>quotesingle</string>
	</array>
	<key>@MMK_L_r</key>
	<array>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
	</array>
	<key>@MMK_L_registered</key>
	<array>
		<string>registered</string>
	</array>
	<key>@MMK_L_ring</key>
	<array>
		<string>ring</string>
	</array>
	<key>@MMK_L_s</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scircumflex</string>
		<string>scommaaccent</string>
	</array>
	<key>@MMK_L_section</key>
	<array>
		<string>section</string>
	</array>
	<key>@MMK_L_seven</key>
	<array>
		<string>seven</string>
	</array>
	<key>@MMK_L_seven.dnom</key>
	<array>
		<string>seven.dnom</string>
	</array>
	<key>@MMK_L_seven.numr</key>
	<array>
		<string>seven.numr</string>
	</array>
	<key>@MMK_L_sevensuperior</key>
	<array>
		<string>sevensuperior</string>
	</array>
	<key>@MMK_L_six</key>
	<array>
		<string>six</string>
	</array>
	<key>@MMK_L_six.dnom</key>
	<array>
		<string>six.dnom</string>
	</array>
	<key>@MMK_L_six.numr</key>
	<array>
		<string>six.numr</string>
	</array>
	<key>@MMK_L_sixsuperior</key>
	<array>
		<string>sixsuperior</string>
	</array>
	<key>@MMK_L_slash</key>
	<array>
		<string>slash</string>
	</array>
	<key>@MMK_L_space</key>
	<array>
		<string>space</string>
	</array>
	<key>@MMK_L_sterling</key>
	<array>
		<string>sterling</string>
	</array>
	<key>@MMK_L_summation</key>
	<array>
		<string>summation</string>
	</array>
	<key>@MMK_L_t</key>
	<array>
		<string>t</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>tcommaaccent</string>
	</array>
	<key>@MMK_L_three</key>
	<array>
		<string>three</string>
	</array>
	<key>@MMK_L_three.dnom</key>
	<array>
		<string>three.dnom</string>
	</array>
	<key>@MMK_L_three.numr</key>
	<array>
		<string>threequarters</string>
		<string>three.numr</string>
	</array>
	<key>@MMK_L_threesuperior</key>
	<array>
		<string>threesuperior</string>
	</array>
	<key>@MMK_L_tilde</key>
	<array>
		<string>tilde</string>
	</array>
	<key>@MMK_L_trademark</key>
	<array>
		<string>trademark</string>
	</array>
	<key>@MMK_L_tta-deva</key>
	<array>
		<string>tt-deva</string>
	</array>
	<key>@MMK_L_two</key>
	<array>
		<string>two</string>
	</array>
	<key>@MMK_L_two.dnom</key>
	<array>
		<string>two.dnom</string>
	</array>
	<key>@MMK_L_two.numr</key>
	<array>
		<string>two.numr</string>
	</array>
	<key>@MMK_L_twosuperior</key>
	<array>
		<string>twosuperior</string>
	</array>
	<key>@MMK_L_u</key>
	<array>
		<string>u</string>
		<string>uacute</string>
		<string>ubreve</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
		<string>mu</string>
	</array>
	<key>@MMK_L_underscore</key>
	<array>
		<string>underscore</string>
	</array>
	<key>@MMK_L_uni00AD</key>
	<array>
		<string>softhyphen</string>
	</array>
	<key>@MMK_L_uni0312</key>
	<array>
		<string>uni0312</string>
	</array>
	<key>@MMK_L_uni0315</key>
	<array>
		<string>uni0315</string>
	</array>
	<key>@MMK_L_uni0326</key>
	<array>
		<string>uni0326</string>
	</array>
	<key>@MMK_L_v</key>
	<array>
		<string>v</string>
	</array>
	<key>@MMK_L_w</key>
	<array>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
	</array>
	<key>@MMK_L_x</key>
	<array>
		<string>x</string>
	</array>
	<key>@MMK_L_y</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ygrave</string>
	</array>
	<key>@MMK_L_yen</key>
	<array>
		<string>yen</string>
	</array>
	<key>@MMK_L_z</key>
	<array>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
	</array>
	<key>@MMK_L_zero</key>
	<array>
		<string>zero</string>
	</array>
	<key>@MMK_L_zero.dnom</key>
	<array>
		<string>zero.dnom</string>
	</array>
	<key>@MMK_L_zero.numr</key>
	<array>
		<string>zero.numr</string>
		<string>percent</string>
		<string>perthousand</string>
	</array>
	<key>@MMK_L_zerosuperior</key>
	<array>
		<string>zerosuperior</string>
	</array>
	<key>@MMK_R_.notdef</key>
	<array>
		<string>.notdef</string>
	</array>
	<key>@MMK_R_.null</key>
	<array>
		<string>.null</string>
	</array>
	<key>@MMK_R_A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>AE</string>
		<string>AEacute</string>
	</array>
	<key>@MMK_R_CR</key>
	<array>
		<string>CR</string>
	</array>
	<key>@MMK_R_D</key>
	<array>
		<string>Dcroat</string>
	</array>
	<key>@MMK_R_Eng</key>
	<array>
		<string>Eng</string>
	</array>
	<key>@MMK_R_Euro</key>
	<array>
		<string>Euro</string>
	</array>
	<key>@MMK_R_H</key>
	<array>
		<string>B</string>
		<string>D</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>F</string>
		<string>H</string>
		<string>Hbar</string>
		<string>Hcircumflex</string>
		<string>I</string>
		<string>IJ</string>
		<string>Iacute</string>
		<string>Ibreve</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
		<string>K</string>
		<string>Kcommaaccent</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>Ldot</string>
		<string>Lslash</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Ntilde</string>
		<string>P</string>
		<string>Thorn</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
	</array>
	<key>@MMK_R_J</key>
	<array>
		<string>J</string>
		<string>Jcircumflex</string>
	</array>
	<key>@MMK_R_M</key>
	<array>
		<string>M</string>
	</array>
	<key>@MMK_R_O</key>
	<array>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcircumflex</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Obreve</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Oslashacute</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>Q</string>
	</array>
	<key>@MMK_R_S</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
		<string>Scommaaccent</string>
	</array>
	<key>@MMK_R_T</key>
	<array>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>Tcommaaccent</string>
	</array>
	<key>@MMK_R_U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
	</array>
	<key>@MMK_R_V</key>
	<array>
		<string>V</string>
	</array>
	<key>@MMK_R_W</key>
	<array>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
	</array>
	<key>@MMK_R_X</key>
	<array>
		<string>X</string>
	</array>
	<key>@MMK_R_Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
	</array>
	<key>@MMK_R_Z</key>
	<array>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
	</array>
	<key>@MMK_R_a</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
		<string>ae</string>
		<string>aeacute</string>
	</array>
	<key>@MMK_R_acute</key>
	<array>
		<string>acute</string>
	</array>
	<key>@MMK_R_ampersand</key>
	<array>
		<string>ampersand</string>
	</array>
	<key>@MMK_R_anoteleia</key>
	<array>
		<string>periodcentered</string>
	</array>
	<key>@MMK_R_approxequal</key>
	<array>
		<string>approxequal</string>
	</array>
	<key>@MMK_R_asciicircum</key>
	<array>
		<string>asciicircum</string>
	</array>
	<key>@MMK_R_asciitilde</key>
	<array>
		<string>asciitilde</string>
	</array>
	<key>@MMK_R_asterisk</key>
	<array>
		<string>asterisk</string>
	</array>
	<key>@MMK_R_at</key>
	<array>
		<string>at</string>
	</array>
	<key>@MMK_R_ba-deva</key>
	<array>
		<string>v_ra-deva</string>
	</array>
	<key>@MMK_R_backslash</key>
	<array>
		<string>backslash</string>
	</array>
	<key>@MMK_R_bar</key>
	<array>
		<string>bar</string>
	</array>
	<key>@MMK_R_bha-deva</key>
	<array>
		<string>jha-deva.loclNEP</string>
		<string>bh_ra-deva</string>
	</array>
	<key>@MMK_R_braceleft</key>
	<array>
		<string>braceleft</string>
	</array>
	<key>@MMK_R_braceright</key>
	<array>
		<string>braceright</string>
	</array>
	<key>@MMK_R_bracketleft</key>
	<array>
		<string>bracketleft</string>
	</array>
	<key>@MMK_R_bracketright</key>
	<array>
		<string>bracketright</string>
	</array>
	<key>@MMK_R_breve</key>
	<array>
		<string>breve</string>
	</array>
	<key>@MMK_R_brokenbar</key>
	<array>
		<string>brokenbar</string>
	</array>
	<key>@MMK_R_bullet</key>
	<array>
		<string>bullet</string>
	</array>
	<key>@MMK_R_ca-deva</key>
	<array>
		<string>c_ra-deva</string>
	</array>
	<key>@MMK_R_caron</key>
	<array>
		<string>caron</string>
	</array>
	<key>@MMK_R_cedilla</key>
	<array>
		<string>cedilla</string>
	</array>
	<key>@MMK_R_cha-deva</key>
	<array>
		<string>ch_ra-deva</string>
	</array>
	<key>@MMK_R_circumflex</key>
	<array>
		<string>circumflex</string>
	</array>
	<key>@MMK_R_colon</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>@MMK_R_copyright</key>
	<array>
		<string>copyright</string>
	</array>
	<key>@MMK_R_currency</key>
	<array>
		<string>currency</string>
	</array>
	<key>@MMK_R_da-deva</key>
	<array>
		<string>d-deva</string>
	</array>
	<key>@MMK_R_dagger</key>
	<array>
		<string>dagger</string>
	</array>
	<key>@MMK_R_daggerdbl</key>
	<array>
		<string>daggerdbl</string>
	</array>
	<key>@MMK_R_dda-deva</key>
	<array>
		<string>dddha-deva</string>
		<string>ng_ra-deva</string>
		<string>dd_ya-deva</string>
		<string>dd_ra-deva</string>
		<string>dd_r-deva</string>
		<string>ng-deva</string>
		<string>dd-deva</string>
	</array>
	<key>@MMK_R_ddha-deva</key>
	<array>
		<string>rha-deva</string>
		<string>ddh_ra-deva</string>
		<string>ddh_r-deva</string>
		<string>ddh-deva</string>
	</array>
	<key>@MMK_R_degree</key>
	<array>
		<string>degree</string>
	</array>
	<key>@MMK_R_dha-deva</key>
	<array>
		<string>dh_ra-deva</string>
	</array>
	<key>@MMK_R_dieresis</key>
	<array>
		<string>dieresis</string>
	</array>
	<key>@MMK_R_divide</key>
	<array>
		<string>divide</string>
	</array>
	<key>@MMK_R_dollar</key>
	<array>
		<string>dollar</string>
	</array>
	<key>@MMK_R_dotaccent</key>
	<array>
		<string>dotaccent</string>
	</array>
	<key>@MMK_R_eight</key>
	<array>
		<string>eight</string>
	</array>
	<key>@MMK_R_eight.dnom</key>
	<array>
		<string>eight.dnom</string>
	</array>
	<key>@MMK_R_eight.numr</key>
	<array>
		<string>eight.numr</string>
	</array>
	<key>@MMK_R_eightsuperior</key>
	<array>
		<string>eightsuperior</string>
	</array>
	<key>@MMK_R_equal</key>
	<array>
		<string>equal</string>
		<string>notequal</string>
	</array>
	<key>@MMK_R_eth</key>
	<array>
		<string>eth</string>
	</array>
	<key>@MMK_R_exclam</key>
	<array>
		<string>exclam</string>
	</array>
	<key>@MMK_R_exclamdown</key>
	<array>
		<string>exclamdown</string>
	</array>
	<key>@MMK_R_f</key>
	<array>
		<string>f</string>
		<string>f_f</string>
		<string>fi</string>
		<string>fl</string>
		<string>pi</string>
	</array>
	<key>@MMK_R_five</key>
	<array>
		<string>five</string>
	</array>
	<key>@MMK_R_five.dnom</key>
	<array>
		<string>five.dnom</string>
	</array>
	<key>@MMK_R_five.numr</key>
	<array>
		<string>five.numr</string>
	</array>
	<key>@MMK_R_fivesuperior</key>
	<array>
		<string>fivesuperior</string>
	</array>
	<key>@MMK_R_florin</key>
	<array>
		<string>florin</string>
	</array>
	<key>@MMK_R_four</key>
	<array>
		<string>four</string>
	</array>
	<key>@MMK_R_four.dnom</key>
	<array>
		<string>four.dnom</string>
	</array>
	<key>@MMK_R_four.numr</key>
	<array>
		<string>four.numr</string>
	</array>
	<key>@MMK_R_foursuperior</key>
	<array>
		<string>foursuperior</string>
	</array>
	<key>@MMK_R_fraction</key>
	<array>
		<string>fraction</string>
	</array>
	<key>@MMK_R_g</key>
	<array>
		<string>g</string>
		<string>gbreve</string>
		<string>gcircumflex</string>
		<string>gcommaaccent</string>
		<string>gdotaccent</string>
	</array>
	<key>@MMK_R_ga-deva</key>
	<array>
		<string>ghha-deva</string>
		<string>ghh-deva</string>
	</array>
	<key>@MMK_R_gha-deva</key>
	<array>
		<string>gh_ra-deva</string>
		<string>gh_r-deva</string>
	</array>
	<key>@MMK_R_grave</key>
	<array>
		<string>grave</string>
	</array>
	<key>@MMK_R_greater</key>
	<array>
		<string>greater</string>
	</array>
	<key>@MMK_R_greaterequal</key>
	<array>
		<string>greaterequal</string>
	</array>
	<key>@MMK_R_guillemotleft</key>
	<array>
		<string>guillemetleft</string>
		<string>guilsinglleft</string>
	</array>
	<key>@MMK_R_guillemotright</key>
	<array>
		<string>guillemetright</string>
		<string>guilsinglright</string>
	</array>
	<key>@MMK_R_h</key>
	<array>
		<string>b</string>
		<string>h</string>
		<string>hbar</string>
		<string>hcircumflex</string>
		<string>k</string>
		<string>kcommaaccent</string>
		<string>kgreenlandic</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>lcommaaccent</string>
		<string>ldot</string>
		<string>thorn</string>
		<string>germandbls</string>
	</array>
	<key>@MMK_R_ha-deva</key>
	<array>
		<string>ha_uMatra-deva</string>
		<string>ha_uuMatra-deva</string>
	</array>
	<key>@MMK_R_hungarumlaut</key>
	<array>
		<string>hungarumlaut</string>
	</array>
	<key>@MMK_R_hyphen</key>
	<array>
		<string>emdash</string>
		<string>endash</string>
		<string>hyphen</string>
	</array>
	<key>@MMK_R_i</key>
	<array>
		<string>i</string>
		<string>dotlessi</string>
		<string>iacute</string>
		<string>ibreve</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>idotaccent</string>
		<string>igrave</string>
		<string>ij</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>itilde</string>
	</array>
	<key>@MMK_R_infinity</key>
	<array>
		<string>infinity</string>
	</array>
	<key>@MMK_R_j</key>
	<array>
		<string>j</string>
		<string>dotlessj</string>
		<string>jcircumflex</string>
	</array>
	<key>@MMK_R_ja-deva</key>
	<array>
		<string>za-deva</string>
		<string>zha-deva</string>
		<string>j_ra-deva</string>
		<string>z-deva</string>
	</array>
	<key>@MMK_R_ka-deva</key>
	<array>
		<string>qa-deva</string>
		<string>k_ka-deva</string>
		<string>k_la-deva</string>
		<string>k_va-deva</string>
		<string>q-deva</string>
	</array>
	<key>@MMK_R_kha-deva</key>
	<array>
		<string>khha-deva</string>
		<string>kh_r-deva</string>
		<string>khh-deva</string>
	</array>
	<key>@MMK_R_la-deva</key>
	<array>
		<string>l_la-deva</string>
	</array>
	<key>@MMK_R_less</key>
	<array>
		<string>less</string>
	</array>
	<key>@MMK_R_lessequal</key>
	<array>
		<string>lessequal</string>
	</array>
	<key>@MMK_R_lla-deva</key>
	<array>
		<string>ll_ra-deva</string>
	</array>
	<key>@MMK_R_logicalnot</key>
	<array>
		<string>logicalnot</string>
	</array>
	<key>@MMK_R_lslash</key>
	<array>
		<string>lslash</string>
	</array>
	<key>@MMK_R_ma-deva</key>
	<array>
		<string>m_ra-deva</string>
	</array>
	<key>@MMK_R_macron</key>
	<array>
		<string>macron</string>
	</array>
	<key>@MMK_R_minus</key>
	<array>
		<string>minus</string>
	</array>
	<key>@MMK_R_multiply</key>
	<array>
		<string>multiply</string>
	</array>
	<key>@MMK_R_n</key>
	<array>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>napostrophe</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>eng</string>
		<string>ntilde</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
	</array>
	<key>@MMK_R_nbspace</key>
	<array>
		<string>nbspace</string>
	</array>
	<key>@MMK_R_nine</key>
	<array>
		<string>nine</string>
	</array>
	<key>@MMK_R_nine.dnom</key>
	<array>
		<string>nine.dnom</string>
	</array>
	<key>@MMK_R_nine.numr</key>
	<array>
		<string>nine.numr</string>
	</array>
	<key>@MMK_R_ninesuperior</key>
	<array>
		<string>ninesuperior</string>
	</array>
	<key>@MMK_R_nna-deva</key>
	<array>
		<string>nn_ra-deva</string>
	</array>
	<key>@MMK_R_numbersign</key>
	<array>
		<string>numbersign</string>
	</array>
	<key>@MMK_R_o</key>
	<array>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>d</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>e</string>
		<string>eacute</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>o</string>
		<string>oacute</string>
		<string>obreve</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>oslashacute</string>
		<string>otilde</string>
		<string>oe</string>
		<string>q</string>
		<string>cent</string>
	</array>
	<key>@MMK_R_ogonek</key>
	<array>
		<string>ogonek</string>
	</array>
	<key>@MMK_R_one</key>
	<array>
		<string>one</string>
	</array>
	<key>@MMK_R_one.dnom</key>
	<array>
		<string>one.dnom</string>
	</array>
	<key>@MMK_R_one.numr</key>
	<array>
		<string>onehalf</string>
		<string>onequarter</string>
		<string>one.numr</string>
	</array>
	<key>@MMK_R_onesuperior</key>
	<array>
		<string>onesuperior</string>
	</array>
	<key>@MMK_R_ordfeminine</key>
	<array>
		<string>ordfeminine</string>
	</array>
	<key>@MMK_R_ordmasculine</key>
	<array>
		<string>ordmasculine</string>
	</array>
	<key>@MMK_R_p</key>
	<array>
		<string>p</string>
		<string>mu</string>
	</array>
	<key>@MMK_R_pa-deva</key>
	<array>
		<string>fa-deva</string>
		<string>p_ra-deva</string>
		<string>p_la-deva</string>
		<string>p_r-deva</string>
		<string>ph_la-deva</string>
		<string>f_ra-deva</string>
		<string>f-deva</string>
	</array>
	<key>@MMK_R_paragraph</key>
	<array>
		<string>paragraph</string>
	</array>
	<key>@MMK_R_parenleft</key>
	<array>
		<string>parenleft</string>
	</array>
	<key>@MMK_R_parenright</key>
	<array>
		<string>parenright</string>
	</array>
	<key>@MMK_R_partialdiff</key>
	<array>
		<string>partialdiff</string>
	</array>
	<key>@MMK_R_period</key>
	<array>
		<string>comma</string>
		<string>ellipsis</string>
		<string>period</string>
		<string>quotedblbase</string>
		<string>quotesinglbase</string>
	</array>
	<key>@MMK_R_plus</key>
	<array>
		<string>plus</string>
	</array>
	<key>@MMK_R_plusminus</key>
	<array>
		<string>plusminus</string>
	</array>
	<key>@MMK_R_question</key>
	<array>
		<string>question</string>
	</array>
	<key>@MMK_R_questiondown</key>
	<array>
		<string>questiondown</string>
	</array>
	<key>@MMK_R_quotedbl</key>
	<array>
		<string>quotedbl</string>
	</array>
	<key>@MMK_R_quotedblleft</key>
	<array>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
	</array>
	<key>@MMK_R_quotesingle</key>
	<array>
		<string>quotesingle</string>
	</array>
	<key>@MMK_R_ra-deva</key>
	<array>
		<string>s_t_ra-deva</string>
	</array>
	<key>@MMK_R_registered</key>
	<array>
		<string>registered</string>
	</array>
	<key>@MMK_R_ring</key>
	<array>
		<string>ring</string>
	</array>
	<key>@MMK_R_s</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scircumflex</string>
		<string>scommaaccent</string>
	</array>
	<key>@MMK_R_section</key>
	<array>
		<string>section</string>
	</array>
	<key>@MMK_R_seven</key>
	<array>
		<string>seven</string>
	</array>
	<key>@MMK_R_seven.dnom</key>
	<array>
		<string>seven.dnom</string>
	</array>
	<key>@MMK_R_seven.numr</key>
	<array>
		<string>seven.numr</string>
	</array>
	<key>@MMK_R_sevensuperior</key>
	<array>
		<string>sevensuperior</string>
	</array>
	<key>@MMK_R_six</key>
	<array>
		<string>six</string>
	</array>
	<key>@MMK_R_six.dnom</key>
	<array>
		<string>six.dnom</string>
	</array>
	<key>@MMK_R_six.numr</key>
	<array>
		<string>six.numr</string>
	</array>
	<key>@MMK_R_sixsuperior</key>
	<array>
		<string>sixsuperior</string>
	</array>
	<key>@MMK_R_slash</key>
	<array>
		<string>slash</string>
	</array>
	<key>@MMK_R_space</key>
	<array>
		<string>space</string>
	</array>
	<key>@MMK_R_ss_tta-deva</key>
	<array>
		<string>ss_tt_ra-deva</string>
		<string>ss_tth_ra-deva</string>
	</array>
	<key>@MMK_R_sterling</key>
	<array>
		<string>sterling</string>
	</array>
	<key>@MMK_R_summation</key>
	<array>
		<string>summation</string>
	</array>
	<key>@MMK_R_t</key>
	<array>
		<string>t</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>tcommaaccent</string>
	</array>
	<key>@MMK_R_tha-deva</key>
	<array>
		<string>th_ra-deva</string>
	</array>
	<key>@MMK_R_three</key>
	<array>
		<string>three</string>
	</array>
	<key>@MMK_R_three.dnom</key>
	<array>
		<string>three.dnom</string>
	</array>
	<key>@MMK_R_three.numr</key>
	<array>
		<string>threequarters</string>
		<string>three.numr</string>
	</array>
	<key>@MMK_R_threesuperior</key>
	<array>
		<string>threesuperior</string>
	</array>
	<key>@MMK_R_tilde</key>
	<array>
		<string>tilde</string>
	</array>
	<key>@MMK_R_trademark</key>
	<array>
		<string>trademark</string>
	</array>
	<key>@MMK_R_tta-deva</key>
	<array>
		<string>tt_ra-deva</string>
		<string>tt-deva</string>
	</array>
	<key>@MMK_R_tth_ya-deva</key>
	<array>
		<string>tt_ya-deva</string>
		<string>tth_ya-deva</string>
		<string>ddh_ya-deva</string>
	</array>
	<key>@MMK_R_ttha-deva</key>
	<array>
		<string>tth_ra-deva</string>
		<string>tth_r-deva</string>
		<string>tth-deva</string>
	</array>
	<key>@MMK_R_two</key>
	<array>
		<string>two</string>
	</array>
	<key>@MMK_R_two.dnom</key>
	<array>
		<string>two.dnom</string>
	</array>
	<key>@MMK_R_two.numr</key>
	<array>
		<string>two.numr</string>
	</array>
	<key>@MMK_R_twosuperior</key>
	<array>
		<string>twosuperior</string>
	</array>
	<key>@MMK_R_u</key>
	<array>
		<string>u</string>
		<string>uacute</string>
		<string>ubreve</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
	</array>
	<key>@MMK_R_underscore</key>
	<array>
		<string>underscore</string>
	</array>
	<key>@MMK_R_uni00AD</key>
	<array>
		<string>softhyphen</string>
	</array>
	<key>@MMK_R_uni0312</key>
	<array>
		<string>uni0312</string>
	</array>
	<key>@MMK_R_uni0315</key>
	<array>
		<string>uni0315</string>
	</array>
	<key>@MMK_R_uni0326</key>
	<array>
		<string>uni0326</string>
	</array>
	<key>@MMK_R_v</key>
	<array>
		<string>v</string>
	</array>
	<key>@MMK_R_w</key>
	<array>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
	</array>
	<key>@MMK_R_x</key>
	<array>
		<string>x</string>
	</array>
	<key>@MMK_R_y</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ygrave</string>
	</array>
	<key>@MMK_R_ya-deva</key>
	<array>
		<string>yya-deva</string>
		<string>y_ra-deva</string>
	</array>
	<key>@MMK_R_yen</key>
	<array>
		<string>yen</string>
	</array>
	<key>@MMK_R_z</key>
	<array>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
	</array>
	<key>@MMK_R_zero</key>
	<array>
		<string>zero</string>
	</array>
	<key>@MMK_R_zero.dnom</key>
	<array>
		<string>zero.dnom</string>
	</array>
	<key>@MMK_R_zero.numr</key>
	<array>
		<string>zero.numr</string>
		<string>percent</string>
		<string>perthousand</string>
	</array>
	<key>@MMK_R_zerosuperior</key>
	<array>
		<string>zerosuperior</string>
	</array>
</dict>
</plist>
